<a href="https://colab.research.google.com/github/SaipoojithaNamani/Assingments/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Creating a list
fruits = ["Apple", "Banana", "Cherry", "Dates", "Elderberry"]

# Accessing elements by index
print(fruits[0])  # Output: Apple (1st element)
print(fruits[3])  # Output: Dates (4th element)

# Accessing a range of elements
print(fruits[1:4])  # Output: ['Banana', 'Cherry', 'Dates'] (2nd to 4th elements)

Apple
Dates
['Banana', 'Cherry', 'Dates']

In [2]:
# Creating a tuple
numbers = (10, 20, 30, 40, 50)

# Accessing elements by index
print(numbers[0])  # Output: 10 (1st element)
print(numbers[4])  # Output: 50 (5th element)

# Accessing a range of elements
print(numbers[2:])  # Output: (30, 40, 50) (from 3rd element to the end)

10
50
(30, 40, 50)

In [3]:
# Creating a dictionary
student_scores = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78,
    "Diana": 92,
    "Eve": 88
}

# Accessing elements by key
print(student_scores["Alice"])  # Output: 85
print(student_scores["Diana"])  # Output: 92

# Accessing all keys and values
print(student_scores.keys())   # Output: dict_keys(['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'])
print(student_scores.values()) # Output: dict_values([85, 90, 78, 92, 88])

85
92
dict_keys(['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'])
dict_values([85, 90, 78, 92, 88])