<a href="https://colab.research.google.com/github/SaipoojithaNamani/Assingments/blob/main/day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Task 1: Create a DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

# Task 2: Display the first 2 rows
print("First 2 rows of the DataFrame:")
print(df.head(2))

# Task 3: Add a new column 'Bonus' where the bonus is 10% of the salary
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame after adding 'Bonus' column:")
print(df)

# Task 4: Calculate the average salary of employees
average_salary = df['Salary'].mean()
print(f"\nThe average salary of employees is: {average_salary}")

# Task 5: Filter and display employees who are older than 25
older_than_25 = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(older_than_25)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame after adding 'Bonus' column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

The average salary of employees is: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0